{{define "title"}}You are now logged in{{end}}

{{define "content"}}
    <div class="mx-auto max-w-lg my-3 mb-8 text-center">
        <h1 class="text-3xl font-medium text-slate-700 mx-1">You are now logged in.</h1>
    </div>
{{end}}